<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'assets/css/template.css' %}">
    <title>STEM Student</title>
</head>
<body>
    <div class="container">
        <div class="my-5">
            <h1 class="font-weight-bold">STEMian</h1>
        </div>
        <div>
            <form method="POST">
                {% csrf_token %}
                <label>Program Study</label>
                <div class="form-row mb-5">
                    <div class="col">
                        <select class="form-control" name="major">
                            <option value="*">All</option>
                            {% for item in major %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-2">
                        <button class="form-control btn btn-info" type="submit">filter</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            {% for item in student %}
            <div class="col-lg-2 col-md-3 col-sm-4 col-6 my-2">
                <div class="card">
                    <img class="card-img-top img-fluid img-center" src="{% static item.image.url %}" alt="{{ item.name }} image">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold small">{{ item.name }}</h5>
                        <p class="card-text my-0 small">{{ item.nim }}</p>
                        <p class="card-text my-0 small">{{ item.major.name }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>